:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
	}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
	line-height: 2 !important;
}

.scrollingContainer {
	max-height: 55vh;
	overflow-y: auto;
	overflow-x: hidden;
}
