<kt-portlet>
	<!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->
	<!-- [viewLoading$]="isLoadingResults" -->
	<kt-portlet-header [class]="'kt-portlet__head--lg'">
		<!-- PORTLET LOADING | Binded to TABLE Datasource -->

		<ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">
				<span>جدول البث</span>
			</h3>
			<!-- For localisations we use @ngx-translate | See off. documentations => https://github.com/ngx-translate/core -->
			<!-- Localization libraries (en/fr) are here => '../../../.././config/i18n/en.ts|fr.ts' -->
		</ng-container>

		<ng-container ktPortletTools>
			<button (click)="addLive()" mat-raised-button matTooltip="بث جديد" color="primary" type="button">
				<span>اضافة بث</span>
			</button>
			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">

<!--					<div class="col-md-4 col-lg-3 kt-margin-bottom-10-mobile" style="margin-top: -10px;">-->
<!--						<mat-form-field class="mat-form-field-fluid">-->
<!--							<input matInput placeholder="بحث في جميع الحقول" #searchInput>-->
<!--							<mat-hint align="start">-->
<!--								<strong>بحث</strong>-->
<!--							</mat-hint>-->
<!--						</mat-form-field>-->
<!--					</div>-->

					<!-- <div class="col-md-4 col-lg-3 kt-margin-bottom-10-mobile">
						<div class="kt-form__control">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select [(value)]="selectedLiveStatus">
									<mat-option value="">الكل</mat-option>
									<mat-option [value]="status.id" *ngFor="let status of statuses">{{status.name}}
									</mat-option>
								</mat-select>
								<mat-hint align="start">
									اختر <strong>حالة البث</strong>
								</mat-hint>
							</mat-form-field>
						</div>
					</div> -->

					<div class="col-md-4 col-lg-3 kt-margin-bottom-10-mobile">
						<div class="kt-form__control">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput type="datetime-local" [(ngModel)]="dateFrom" name="dateFrom" required
									   style="color: black;">
								<mat-hint align="start">
									اختر <strong>بداية الفترة</strong>
								</mat-hint>
							</mat-form-field>
						</div>
					</div>

					<div class="col-md-4 col-lg-3 kt-margin-bottom-10-mobile">
						<div class="kt-form__control">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput type="datetime-local" [(ngModel)]="dateTo" name="dateTo" required
									   style="color: black;">
								<mat-hint align="start">
									اختر <strong>نهاية الفترة</strong>
								</mat-hint>
							</mat-form-field>
						</div>
					</div>

				</div>
				<button (click)="loadScheduleList()" mat-raised-button matTooltip="" color="primary"
						type="button">
					<span>بحث</span>
				</button>
			</div>
			<!-- end::FILTERS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- start::Summary -->
		<!-- end::Summary -->
		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<div style="text-align: right;">
			<button mat-raised-button color="primary" (click)="exporter.exportTable('xlsx',
			{fileName: getExcelFileName(), sheet: getExcelFileName(), Props: {Author: 'Admin'}})"
					matTooltip="Excel">تنزيل
			</button>
		</div>
		<div class="mat-table__wrapper" style="text-align: right;">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
					   matSortActive="liveCreationDate" matSortDirection="asc" matSortDisableClear matTableExporter
                       #exporter="matTableExporter" [hiddenColumns]="[displayedColumns.length - 1]">

				<!-- <ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header>رقم البث</mat-header-cell>
					<mat-cell *matCellDef="let live">{{live.id}}</mat-cell>
				</ng-container> -->

				<ng-container matColumnDef="merchant">
					<mat-header-cell *matHeaderCellDef mat-sort-header>صاحب البث</mat-header-cell>
					<mat-cell *matCellDef="let live">{{live.merchant}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="prize">
					<mat-header-cell *matHeaderCellDef mat-sort-header>الجائزة</mat-header-cell>
					<mat-cell *matCellDef="let live">{{live.prize}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="code">
					<mat-header-cell *matHeaderCellDef mat-sort-header>كود البث</mat-header-cell>
					<mat-cell *matCellDef="let live">{{live.code}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="liveQuestion">
					<mat-header-cell *matHeaderCellDef mat-sort-header>سؤال البث</mat-header-cell>
					<mat-cell *matCellDef="let live">{{live.liveQuestion}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="liveAnswers">
					<mat-header-cell *matHeaderCellDef mat-sort-header>اجابات البث</mat-header-cell>
					<mat-cell *matCellDef="let live">
							  <span [ngStyle]="{cursor: 'pointer', maxWidth: '100px'}"
									class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(2) }} kt-badge--wide"
									(click)="openInfoDialog(live.liveAnswers)"
							  >عرض الاجابات
							  </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="correctAnswer">
					<mat-header-cell *matHeaderCellDef mat-sort-header>الجواب الصحيح</mat-header-cell>
					<mat-cell *matCellDef="let live">{{live.correctAnswer}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="liveFromDate">
					<mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ بداية البث</mat-header-cell>
					<mat-cell *matCellDef="let live" dir="ltr" class="align-right">{{live.liveFromDate}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="liveToDate">
					<mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ نهاية البث</mat-header-cell>
					<mat-cell *matCellDef="let live" dir="ltr" class="align-right">{{live.liveToDate}}</mat-cell>
				</ng-container>
				<!--
								<ng-container matColumnDef="LiveStatus">
									<mat-header-cell *matHeaderCellDef mat-sort-header>حالة البث</mat-header-cell>
									<mat-cell *matCellDef="let live">
										<span (click)="transferQuestion(live)"
											[ngStyle]="{cursor: live.liveStatusId !== 3 ? 'pointer' : 'auto'}"
											class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(live.liveStatusId) }} kt-badge--wide">{{
											live.liveStatus }}</span>
									</mat-cell>
								</ng-container> -->

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef class="actionsColumn">تعديل</mat-header-cell>
					<mat-cell *matCellDef="let live" class="actionsColumn">
						<button mat-icon-button style="color: #5d78ff" color="info" matTooltip="تعديل"
								(click)="editLive(live)">
							<mat-icon>create</mat-icon>
						</button>&nbsp;
						<!-- <button mat-icon-button color="warn" matTooltip="حذف" type="button"
								(click)="deleteLive(live)">
							<mat-icon>delete</mat-icon>
						</button>&nbsp; -->
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="!dataSource.data.length">{{languageText.empty}}</div>
			<div class="mat-table__message" *ngIf="isLoadingResults">{{languageText.searching}}</div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
			<mat-spinner [diameter]="20" *ngIf="isLoadingResults"></mat-spinner>
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 100, dataSource.data.length]"
						   [length]="dataSource.data.length" [showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->

</kt-portlet>
