<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300&family=Oranienbaum&display=swap"
	rel="stylesheet">

<body>

	<img style="right: 10%;top: 10%; position: absolute;" src="./assets/media/drawBackGround/coin_4-01.png" />
	<img style="right: 10%;top: 23%; position: absolute;" src="./assets/media/drawBackGround/coin_1-01.png" />
	<img style="right: 10%;bottom: 23%; position: absolute;" src="./assets/media/drawBackGround/coin_1-01.png" />
	<img style="left: 30%;bottom: 30%; position: absolute;" src="./assets/media/drawBackGround/celeb_11-01.png" />
	<img style="right: 20%;top: 50%; position: absolute;" src="./assets/media/drawBackGround/coin_2-01.png" />
	<img style="left: 20%;top: 50%; position: absolute;" src="./assets/media/drawBackGround/coin_2-01.png" />
	<img style="left: 20%;top: 70%; position: absolute;" src="./assets/media/drawBackGround/coin_2-01.png" />

	<img style="right: 5%;bottom: 10%; position: absolute;" src="./assets/media/drawBackGround/celeb_10-01.png" />
	<img style="right: 7%;bottom: 44%; position: absolute;" src="./assets/media/drawBackGround/celeb_10-01.png" />
	<img style="left: 25%;top: 10%; position: absolute;" src="./assets/media/drawBackGround/celeb_9-01.png" />
	<img style="left: 10%;top: 15%; position: absolute;" src="./assets/media/drawBackGround/celeb_9-01.png" />
	<img style="left: 33%;top: 20%; position: absolute;" src="./assets/media/drawBackGround/celeb_9-01.png" />

	<img style="right: 10%;top: 50%; position: absolute;" src="./assets/media/drawBackGround/celeb_11-01.png" />

	<img style="left: 5%;bottom: 10%; position: absolute;" src="./assets/media/drawBackGround/celeb_7-01.png" />
	<img style="left: 7%;top: 43%; position: absolute;" src="./assets/media/drawBackGround/celeb_8-01.png" />
	<img style="left: 20%;top: 34%; position: absolute;" src="./assets/media/drawBackGround/celeb_9-01.png" />
	<img style="left: 10%;bottom: 20%; position: absolute;" src="./assets/media/drawBackGround/celeb_2-01.png" />

	<img style="left: 5%;bottom: 10%; position: absolute;" src="./assets/media/drawBackGround/celeb_7-01.png" />
	<img style="left: 7%;top: 12%; position: absolute;" src="./assets/media/drawBackGround/celeb_2-01.png" />
	<img style="left: 20%;bottom: 20%; position: absolute;" src="./assets/media/drawBackGround/celeb_9-01.png" />
	<img style="left: 10%;top: 60%; position: absolute;" src="./assets/media/drawBackGround/celeb_8-01.png" />

	<!-- <img style=" left:3%; top: 3%; position: absolute;" src="./assets/media/drawBackGround/coin_1-01.png" width="18%" height="30%" />

  <img style=" left:9%; top: 10%; position: absolute;" src="./assets/media/drawBackGround/coin_1-01.png" width="12%"
    height="22%" />

  <img style=" right: 10%;top: 20%; position: absolute;" class="animated swing" src="./assets/media/drawBackGround/coin_4-01.png"
    width="5%" height="5%" /> -->


	<!-- <div class="position">

      </div> -->
	<div class="position">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="wrapper">
						<div class="row justify-content-center">
							<p class="ball l-background"></p>
							<p class="ball l-background"></p>
							<p class="ball l-background"></p>
							<p class="ball l-background"></p>
							<p class="ball l-background"></p>
							<p class="ball l-background"></p>
							<p class="ball l-background"></p>
							<p class="ball l-background"></p>
							<p class="ball l-background"></p>
							<p class="ball l-background"></p>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<button mat-raised-button matTooltip="" color="primary" [disabled]="finishedDraw"
						[ngStyle]="{'cursor': finishedDraw ? 'not-allowed' : 'pointer'}" type="button" id="generate"
						class="btn  btn-lg" (click)="DrawMSISDN()">سحب
					</button>
				</div>
			</div>

			<!-- <div class="row">
            <div class="col-lg-12">
                <div id="history">
                  <h1>الفائزون</h1>
                  <p *ngFor="let number of history">{{ number }}</p>
                </div>
            </div>
          </div> -->
		</div>
	</div>
</body>
