<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>اعادة تعيين كلمة السر</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>رقم الهاتف المحمول</mat-label>
					<input matInput type="text" placeholder="رقم الهاتف المحمول" formControlName="mobileNumber" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('mobileNumber','required')">
						<strong>الرجاء ادخال رقم الهاتف المحمول</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('mobileNumber','pattern')">
						<strong>يجب على رقم الهاتف المحمول ان يتكون من ارقام فقط</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('mobileNumber','minlength') && !isControlHasError('mobileNumber','pattern')">
						<strong>يجب على رقم الهاتف المحمول ان يتكون على الاقل من 9 خانات</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('mobileNumber','maxlength') && !isControlHasError('mobileNumber','pattern')">
						<strong>يجب على رقم الهاتف المحمول ان يتكون على الاكثر من 14 خانة</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!--begin::Action-->
			<div class="kt-login__actions">
				<button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary">رجوع</button>
				<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">تأكيد</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>

