<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }"
	dir="rtl" style="text-align: right;">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
		</div>
	</div>
	<form class="kt-form" [formGroup]="influencerForm">
		<div class="kt-portlet__body">

			<div class="kt-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="10000" [showCloseButton]="true"
				(close)="onAlertClose($event)">
				الرجاء تصحيح الأخطاء والمحاولة مجددا
			</kt-alert>

			<div class="form-group kt-form__group row">

				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="الاسم" formControlName="name" />
						<mat-error>الرجاء ادخال
							<strong>الاسم</strong>
						</mat-error>
						<mat-hint align="start">
							<strong>الاسم</strong>
						</mat-hint>
					</mat-form-field>
				</div>
				<!--
				<div class="col-lg-4 kt-margin-bottom-20-mobile" *ngIf="this.userQuestions.id > 0">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="حالة السؤال" formControlName="checkStatus">
							<mat-option [value]="status.id" *ngFor="let status of statuses">
								{{status.name}}</mat-option>
						</mat-select>
						<mat-error>الرجاء ادخال
							<strong>حالة السؤال</strong>
						</mat-error>
						<mat-hint align="start">
							<strong>حالة السؤال</strong>
						</mat-hint>
					</mat-form-field>
				</div> -->
			</div>
			<!-- <div class="kt-separator kt-separator--dashed"></div> -->
		</div>
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid p-3">
				<div class="row text-left">
					<div class="col-lg-12">
						<button type="button" style="margin: 5px; min-width: 60px;" class="btn btn-outline-danger"
							mat-dialog-close cdkFocusInitial>الغاء
						</button>
						<button type="button" style="margin: 5px; min-width: 60px;" class="btn btn-primary"
							(click)="onSubmit()" [disabled]="viewLoading" matTooltip="{{getTitle()}}">
							تأكيد
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
