<kt-portlet>
	<!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->
	<!-- [viewLoading$]="isLoadingResults" -->
	<kt-portlet-header [class]="'kt-portlet__head--lg'">
		<!-- PORTLET LOADING | Binded to TABLE Datasource -->

		<ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">
				<span>الاسئلة</span>
			</h3>
			<!-- For localisations we use @ngx-translate | See off. documentations => https://github.com/ngx-translate/core -->
			<!-- Localization libraries (en/fr) are here => '../../../.././config/i18n/en.ts|fr.ts' -->
		</ng-container>

		<ng-container ktPortletTools>
			<button (click)="addQuestion()" mat-raised-button matTooltip="سؤال جديد" color="primary" type="button">
				<span>اضافة سؤال</span>
			</button>
			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">

					<!--					<div class="col-md-4 col-lg-3 kt-margin-bottom-10-mobile" style="margin-top: -10px;">-->
					<!--						<mat-form-field class="mat-form-field-fluid">-->
					<!--							<input matInput placeholder="بحث في جميع الحقول" #searchInput>-->
					<!--							<mat-hint align="start">-->
					<!--								<strong>بحث</strong>-->
					<!--							</mat-hint>-->
					<!--						</mat-form-field>-->
					<!--					</div>-->

				</div>
				<button (click)="loadQuestionsList()" mat-raised-button matTooltip="" color="primary"
						type="button">
					<span>بحث</span>
				</button>
			</div>
			<!-- end::FILTERS -->
		</div>
		<div style="text-align: right;">
			<button mat-raised-button color="primary" (click)="exporter.exportTable('xlsx',
			{fileName: getExcelFileName(), sheet: getExcelFileName(), Props: {Author: 'Admin'}})"
					matTooltip="Excel">تنزيل
			</button>
		</div>
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
					   matSortActive="QuestionDate" matSortDirection="asc" matSortDisableClear matTableExporter
                       #exporter="matTableExporter" [hiddenColumns]="[displayedColumns.length - 1]">
				<ng-container matColumnDef="questionText">
					<mat-header-cell *matHeaderCellDef mat-sort-header>نص السؤال</mat-header-cell>
					<mat-cell *matCellDef="let question" dir="ltr"
							  class="align-right">{{question.questionText}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="questionAnswers">
					<mat-header-cell *matHeaderCellDef mat-sort-header>الاجوبة</mat-header-cell>
					<mat-cell *matCellDef="let question">
						<span [ngStyle]="{cursor: 'pointer', maxWidth: '100px'}"
							  class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(2) }} kt-badge--wide"
							  (click)="openInfoDialog(question.questionAnswers)">
						عرض الاجابات
						</span>
					</mat-cell>
					<!-- <mat-cell *matCellDef="let question">{{question.questionAnswers}}</mat-cell> -->
				</ng-container>


				<ng-container matColumnDef="correctAnswer">
					<mat-header-cell *matHeaderCellDef mat-sort-header>الجواب الصحيح</mat-header-cell>
					<mat-cell *matCellDef="let question">{{question.correctAnswer}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="questionCreationDate">
					<mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ ظهور السؤال</mat-header-cell>
					<mat-cell *matCellDef="let question" dir="ltr"
							  class="align-right">{{question.questionCreationDate}}</mat-cell>
				</ng-container>
				<!--
								<ng-container matColumnDef="Questionstatus">
									<mat-header-cell *matHeaderCellDef mat-sort-header>حالة السؤال</mat-header-cell>
									<mat-cell *matCellDef="let question">
										<span (click)="transferQuestion(question)"
											[ngStyle]="{cursor: question.QuestionstatusId !== 3 ? 'pointer' : 'auto'}"
											class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(question.QuestionstatusId) }} kt-badge--wide">{{
											question.Questionstatus }}</span>
									</mat-cell>
								</ng-container> -->

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef class="actionsColumn">تعديل</mat-header-cell>
					<mat-cell *matCellDef="let question" class="actionsColumn">
						<button mat-icon-button style="color: #5d78ff" color="info" matTooltip="تعديل"
								(click)="editQuestion(question)">
							<mat-icon>create</mat-icon>
						</button>&nbsp;
						<!-- <button mat-icon-button color="warn" matTooltip="حذف" type="button"
							(click)="deleteQuestion(question)">
							<mat-icon>delete</mat-icon>
						</button>&nbsp; -->
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="!dataSource.data.length">{{languageText.empty}}</div>
			<div class="mat-table__message" *ngIf="isLoadingResults">{{languageText.searching}}</div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
			<mat-spinner [diameter]="20" *ngIf="isLoadingResults"></mat-spinner>
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 100, dataSource.data.length]"
						   [length]="dataSource.data.length" [showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->

</kt-portlet>
