.dateColumn {
	word-wrap: break-word !important;
	white-space: unset !important;
	flex: 0 0 15% !important;
	width: 15% !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	text-align: right;
}

.actionsColumn {
	word-wrap: break-word !important;
	white-space: unset !important;
	flex: 0 0 8% !important;
	width: 8% !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	text-align: right;
}

.row {
	div {
		margin-bottom: 10px;
	}
}
